<html>

<head>
	
<h3> Welcome to PUCS Families</h3>
	
</head>

<body>

<table border="1" bordercolor="#CCCC66" style="background-color:" width="700" cellpadding="2" cellspacing="2">
	<tr>
		<th><a href="LINK FOR PAGE">Name (is primary)</a></th>
		<th<a href="LINK FOR PAGE">Address</a></th> <th><a href="LINK FOR PAGE">ZipCode</a></th> <th><a href="LINK FOR PAGE">Phone</a></th> <th><a href="LINK FOR PAGE">Activity</a></th>
	</tr>
	<tr>
		<td><a href="LINK FOR PAGE"><strong>John Stamos</strong></a></td> 
		<td>1010 Binary St. 
		<br>Pittsburgh, PA</td>	
		<td>11010</td>	
		<td> 412-111-1101</td>	
		<td><a href="LINK FOR PAGE">Edit</a>/ <a href="LINK FOR PAGE">Delete</a></td>
	</tr>
	<tr>
		<td><a href="LINK FOR PAGE"><strong>Bill Bixby</strong></a></td> 
		<td>8787 Gama Rd. 
		<br>Pittsburgh, PA</td>	
		<td>11010</td>	
		<td> 412-111-1111</td>	
		<td><a href="LINK FOR PAGE">Edit</a>/ <a href="LINK FOR PAGE">Delete</a></td>
	</tr>
	<tr>
		<td><a href="LINK FOR PAGE"><strong>John Stamos</strong></a></td> 
		<td>1111 Cardigan Ave. 
		<br>Pittsburgh, PA</td>	
		<td>11011</td>	
		<td> 412-999-9990</td>	
		<td><a href="LINK FOR PAGE">Edit</a>/ <a href="LINK FOR PAGE">Delete</a></td>
	</tr>
</table>

<%= will_paginate @user %>

<center><button type="button">Add New Family</button></center>

</body>


</html>