
			
	<tr><table border="0" width="700">
		<td><IMG SRC="http://www.pucs.org/Pictures/slideshow24.jpg" HEIGHT="250" WIDTH="250" ALIGN=LEFT></a></td> 
		<td><h1>Profile Information</h1>
		
			Name: Fred Fredson
		<br><br />
		
			Gender: Male
		<br><br />
		
			Address: ShadySquirrel, PA 15213
		<br><br />
		
			Ethnicity: African American
		<br><br />
		
			Email: FFredson@gmail.com
		<br><br />
			Mobile Phone: (123) 345-6789
		 <br><br />
			Work Phone: (987) 654-3210</td>	
	</tr>
		
	