<div class="volunteer_content">
	<h2>Volunteer Opportunities</h2>
	<p>At PUCS, our parents are asked to participate in volunteer opportunities
    because we believe doing so builds stronger relationships among students,
    parents, teachers, staff and the community. These events give volunteers an
    opportunity to meet new people, to get outside, and to volunteer in a stress-relieving,
    natural setting.</p>
<br />

  <h5>Upcoming Opportunities:</h5>
	<ul>
		<li>July 17: Summer Open House</li>
		<li>August 23: All School Dedication</li>
        <li>September 10: Pizza Friday</li>
		<li>September 11: Trip to Pittsburgh Zoo</li>
    </ul>

    <p class="centertext">
		<strong>You have volunteered for 10 hours this year.<br />
        You need to volunteer for 14 more hours.</strong>
	</p>
<br />
</div>