<h1>Events and Activities</h1>
<div class="contentlines"></div>

<h3>Coming Soon</h3>
<p>This is the Events and Activities section of the PUCS Portal.  In this area you will be able to
to view and RSVP for upcoming events and activities at PUCS. You will also be able to comment on
these events directly on the site.</p>