<h1>Events and Activities</h1>
<div class="contentlines"></div>

<h3>Coming Soon</h3>
<p>This is the Events and Activities section of the PUCS Portal.  In this area administrators will be able
to add and edit upcoming events at PUCS.  They will also be able to view RSVP lists for specific events and activities.</p>